* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

body {
    margin: 0 auto;
    padding: 3em;
    background: rgb(209, 209, 209);
    transition: all ease .3s
}


.contenedor {
    width: 100%;
    max-width: 600px;
    background: #FFF;
    border-radius: 5px;
    margin: 0 auto;
    padding: 2em;

}

    fieldset {
        padding: 1em;
        margin: 2em 0 0 0;
    }

    legend {
        font-size: 22px;
        font-weight: 700;
        padding: 0 .5em;
    }

    label {
        display: block;
        font-weight: 700;
        font-size: 10px;
        padding: 0 0 .5em 0;
        cursor:pointer;
    }

    section {
        margin: 1em 0;
    }

    select {
        outline: none
    }

    textarea {
        border: 1px solid rgb(209, 209, 209);
        outline: none
    }

    .sexo label {
        display: inline-block
    }

    input[type="text"], input[type="date"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"] {
        width: 70%;
        height: 50px;
        padding: 1em;
        border: 1px solid rgb(209, 209, 209);
        outline: none;
    }

    input[type="submit"] {
        margin: 2em 0 0 0; 
        width: 70%;
        height: 50px;
        background: transparent;
        border: 1px solid  rgb(209, 209, 209);
        outline: none
    }

    input[type="submit"]:hover {
        background:rgb(209, 209, 209);
    }

    input:required:invalid {
        border: 2px solid red;
    }

    .cand-error {
        display: none;
    }
    
    .val-error {
        display: flex;
    }

    .cand-error {
        border:1px solid;
        padding: .5rem;
        font-size: .8rem;
        margin-top: .5rem;
        line-height: 24px;
    }
    
    .cand-error:before {
        content:"";
        background-image: url(../img/warning.png);
        width: 32px;
        height: 24px;
        display: inline-block;
        background-size: 24px 24px;
        background-repeat: no-repeat;
    }


    .ayuda {
        display: none;
        font-size: .9rem;
    }
    
    input:focus + .ayuda {
        display: inline-block;
    }

    